.add-recipe-wrapper {
    background-color: rgba(152, 192, 149, 0.15);
    height: fit-content;
    display: flex;
    justify-content: center;
    font-family: "Merienda", cursive;

    form {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 1rem;

        label {
            margin-right: 10px;
        }

        input,
        textarea {
            font-family: inherit;
            border: 2px solid var(--very-light-green);
            border-radius: 5px;
            font-size: 1rem;

            &:focus {
                outline: none;
            }
        }

        input.errorOutline,
        textarea.errorOutline {
            border: 2px solid var(--error-red);
        }

        .image-wrapper {
            position: relative;

            img {
                width: 100%;
                height: 20rem;
                object-fit: contain;
                border: 2px solid var(--white);
            }

            input {
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 1.5rem;
                border: none;
                padding: 1rem;
                border: 2px solid var(--very-light-green);

                &:focus {
                    outline: none;
                }
            }

            input.errorOutline {
                border: 2px solid var(--error-red);
            }
        }

        .title-type-wrapper,
        .time-container,
        .ingredients,
        .description,
        .buttons-container {
            background-color: var(--white);
            padding: 1rem;
        }

        .title-type-wrapper {
            margin-top: 1.5rem;
            display: flex;

            .recipe-title {
                width: 60%;

                input {
                    width: 70%;
                    height: 1.5rem;
                    padding: .8rem;
                }
            }

            .recipe-type {
                width: 40%;
                display: flex;
                justify-content: end;
                margin-right: 5px;

                select {
                    width: 70%;
                    height: 2rem;
                    font-family: inherit;
                    border: 2px solid var(--very-light-green);
                    border-radius: 5px;
                    padding-left: 5px;
                    font-size: 1rem;

                    //start of arrow styles
                    appearance: none;
                    background-origin: content-box;
                    background-position: right .5em center;
                    background-repeat: no-repeat;
                    background-size: auto;
                    box-sizing: border-box;
                    $rgb: 'rgb%28#{70}, #{152}, #{86}%29';
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='8' height='13' viewBox='0 0 8 13'><polygon points='0,8 4,13 8,8' style='fill: #{$rgb}'/><polygon points='4,0 0,5 8,5' style='fill: #{$rgb}'/></svg>");
                    //end arrow styles


                    &:focus {
                        outline: none;
                    }
                }

                select.errorOutline {
                    border: 2px solid var(--error-red);
                }
            }
        }

        .time-container {
            display: flex;
            justify-content: space-between;

            div {
                width: 30%;

                input {
                    width: 97%;
                    margin-top: .5rem;
                }
            }
        }

        .ingredients,
        .description {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: .5rem;
            }

            textarea {
                width: 99%;
                min-height: 7rem;
                resize: vertical;
            }
        }

        .buttons-container {
            display: flex;
            justify-content: center;
            gap: 1rem;

            .clear-btn,
            .submit-btn {
                display: inline;
                width: 5rem;
                border-radius: 20px;
                font-size: 1.2rem;
                padding: .3rem;

                &:hover {
                    cursor: pointer;
                }
            }

            .clear-btn {
                background-color: transparent;
                border: 1px solid var(--light-grey);
                color: var(--light-grey);
            }

            .submit-btn {
                border: none;
                background-color: var(--dark-yellow);
                color: var(--white);

                &:hover {
                    background-color: var(--light-yellow);
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .add-recipe-wrapper {
        form {
            .title-type-wrapper {
                .recipe-title, 
                .recipe-type {
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .add-recipe-wrapper {
        form {
            .title-time-container {
                display: flex;
                flex-direction: row;

                .title-type-wrapper,
                .time-container {
                    flex-direction: column;
                    width: 50%;

                    div {
                        width: 100%;
                        margin-top: 1rem;

                        input {
                            height: 1.5rem;
                        }
                    }
                }

                .title-type-wrapper {
                    margin: unset;
                    padding-top: 1rem;
                    
                    .recipe-title,
                    .recipe-type {
                        display: flex;
                        flex-direction: column;

                        input,
                        select {
                            margin-top: .5rem;
                        }
                    }

                    .recipe-title {
                        input {
                            width: 98%;
                        }
                    }

                    .recipe-type {
                        select {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .add-recipe-wrapper {
        form {
            .image-wrapper {
                width: 100%;

                img {
                    width: 100%;
                }

                input {
                    width: 80%;
                }
            }

            .title-time-container {
                flex-direction: column;
                
                .title-type-wrapper,
                .time-container {
                    width: 95%;
                }
            }

            .ingredients,
            .description,
            .buttons-container {
                width: 95%;
            }
        }
    }
}
