.navigation-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background-color: var(--light-green-outline);
    user-select: none;

    #menu-button {
        width: 20px;
        height: 14px;
        border-bottom: 2px solid var(--white);
        position: absolute;
        top: 2%;
        right: 2%;

        &:hover {
            cursor: pointer;
        }
    }

    #menu-button::before {
        content: '';
        width: 20px;
        height: 2px;
        background-color: var(--white);
        margin-bottom: 4px;
    }

    #menu-button::after {
        content: '';
        width: 20px;
        height: 2px;
        background-color: var(--white);
        margin-top: 5px;
    }

    #menu-button,
    #menu-button::before,
    #menu-button::after {
        display: none;
    }

    ul {
        display: flex;

        li {
            list-style-type: none;
            padding: 1rem;

            a {
                color: var(--white);
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        #menu-button,
        #menu-button::before,
        #menu-button::after {
            display: block;
        }

        #menu-close {
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 2%;
            right: 2%;
            &:hover {
                cursor: pointer;
            }
        }

        #menu-close::before,
        #menu-close::after {
            content: '';
            width: 20px;
            height: 2px;
            display: block;
            background-color: var(--white);
        }

        #menu-close::before {
            transform: translateY(1px) rotate(45deg);
            margin-top: 2px;
        }

        #menu-close::after {
            transform: translateY(-1px) rotate(-45deg);
        }

        ul {
            display: none;
        }

        .isMenuShowing {
            display: flex;
            flex-direction: column;
            height: fit-content;
            width: 150px;
            background-color: var(--light-green-outline);
            z-index: 2;
            margin-top: 50px;
            border-bottom-left-radius: 5px;
            padding: 0;
            align-items: center;

            li {
                width: 100%;
                text-align: center;
                padding-left: 0;
                padding-right: 0;


                &:hover {
                    border-radius: 5px;
                }
            }

            li:hover {
                background-color: var(--lighter-green-outline);
                cursor: pointer;
                transition: ease-in-out 400ms;
            }
        }
    }
}