.navigation-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background-color: var(--light-green-outline);

    ul {
        display: flex;

        li {
            list-style-type: none;
            padding: 1rem;
        }
    }
}