.search-box-wrapper {
    display: inline-block;
    width: 16rem;
    height: 2rem;
    border-radius: 7px;
    margin: 2rem 0 3.5rem 0;
    outline: 2px solid var(--very-light-green);
    align-self: center;

    .search-input {
        margin: 0;
        padding: 0;
        width: 15rem;
        height: 2rem;
        border: none;
        margin-left: 3px;

        &:focus {
            outline: none;
        }
    }

    .search-btn {
        position: relative;
        bottom: 80%;
        left: 90%;
        border: none;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}