@import url('../src/components/misc/Navbar.styles.scss');
@import url('../src/components/user/RegisterAndLoginWrapper.styles.scss');
@import url('../src/components/Home.styles.scss');
@import url('../src/components/recipe/Recipe.styles.scss');
@import url('../src/components/recipe/RecipeWrapper.styles.scss');
@import url('../src/components/misc/SearchBar.styles.scss');
@import url('../src/components/recipe/RecipeDetailsWrapper.styles.scss');
@import url('../src/components/recipe/AddRecipe.styles.scss');
@import url('../src/components/user/MyAccount.styles.scss');
@import url('../src/components/recipe/EditRecipeModal.styles.scss');

$very-light-green: #98C095;
$light-green-outline: #469856;
$lighter-green-outline: #62a365;
$very-dark-grey: #181818;
$white: #FFFFFF;
$light-grey: #989797;
$error-red: #ec404e;
$baby-blue: #42A2E0;
$mustard: #B8A237;
$light-purple: #576296;
$pastel-blue: #468898;
$light-pastel-blue: #54a5b9;
$recipe-card-details-green: #e0ede6;
$light-yellow: #e1c745;
$dark-yellow: #d3c14b;
$very-light-gray: #98979757;

:root {
    --very-light-green: #{$very-light-green};
    --light-green-outline: #{$light-green-outline};
    --lighter-green-outline: #{$lighter-green-outline};
    --very-dark-grey: #{$very-dark-grey};
    --white: #{$white};
    --light-grey: #{$light-grey};
    --error-red: #{$error-red};
    --baby-blue: #{$baby-blue};
    --mustard: #{$mustard};
    --light-purple: #{$light-purple};
    --pastel-blue: #{$pastel-blue};
    --light-pastel-blue:#{$light-pastel-blue};
    --recipe-card-details-green: #{$recipe-card-details-green};
    --light-yellow: #{$light-yellow};
    --dark-yellow: #{$dark-yellow};
    --very-light-gray: #{$very-light-gray};
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    background-color: $white;
    color: var(--very-dark-grey);
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;


}

.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid grey;
    border-color: grey transparent grey transparent;
    animation: spin 1.2s linear infinite;
}

.error-page {
    height: 80%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;

    h1 {
        font-size: 7rem;
        color: var(--error-red);
    }

    h3 {
        font-size: 2rem;
    }

    .back-home {
        text-decoration: none;
        color: var(--light-green-outline);
        border: 1px solid var(--lighter-green-outline);
        padding: .5rem;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            transition: ease-in-out 200ms;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}