@import url('../src/components/misc/Navbar.styles.scss');
@import url('../src/components/user/RegisterAndLoginWrapper.styles.scss');
@import url('../src/components/Home.styles.scss');
@import url('../src/components/recepe/Recipe.styles.scss');
@import url('../src/components/recepe/RecipeWrapper.styles.scss');
@import url('../src/components/misc/SearchBar.styles.scss');
@import url('../src/components/recepe/RecipeDetailsWrapper.styles.scss');
@import url('../src/components/recepe/AddRecipe.styles.scss');

$very-light-green: #98C095;
$light-green-outline: #469856;
$lighter-green-outline: #62a365;
$very-dark-grey: #181818;
$white: #FFFFFF;
$light-grey: #989797;
$error-red: #ec404e;
$baby-blue: #42A2E0;
$mustard: #B8A237;
$light-purple: #576296;
$pastel-blue: #468898;
$light-pastel-blue: #54a5b9;
$recipe-card-details-green: #e0ede6;
$light-yellow: #e1c745;
$dark-yellow: #d3c14b;

:root {
    --very-light-green: #{$very-light-green};
    --light-green-outline: #{$light-green-outline};
    --lighter-green-outline: #{$lighter-green-outline};
    --very-dark-grey: #{$very-dark-grey};
    --white: #{$white};
    --light-grey: #{$light-grey};
    --error-red: #{$error-red};
    --baby-blue: #{$baby-blue};
    --mustard: #{$mustard};
    --light-purple: #{$light-purple};
    --pastel-blue: #{$pastel-blue};
    --light-pastel-blue:#{$light-pastel-blue};
    --recipe-card-details-green: #{$recipe-card-details-green};
    --light-yellow: #{$light-yellow};
    --dark-yellow: #{$dark-yellow};
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    background-color: $white;
    color: var(--very-dark-grey);
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
}